body{
    margin: 0;
    background-color: rgb(42, 75, 230, 0.58);

}

main{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(192, 200, 245);
    padding: 50px;
}

h1, h2{
    text-align: center;
}

div{
    text-align: justify;
}

.divcenter{
    /* установка флекс */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header{
    background-color: rgb(91, 235, 72);
    /* background-color: rgb(220, 113, 241); */
    /* margin: 0px;  */
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    /* установка флекс */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 50px;
    
    background-color: rgb(20, 3, 95);
     
    margin-left: 100px; 
    margin-right: 100px;

    font-size: 24px;
}

nav>div{
  color: aliceblue;  
}

footer{
    background-color: rgb(38, 86, 219);
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 150px;
    /* установка флекс */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; 
}

.text1{
    color: aliceblue;
}

.hr1{
    width: 90%;
}

.hr2{
    width: 90%;
    color: black;
}

a {
    color: aliceblue; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание */
} 

/* a:visited { 
    color: aliceblue; /* Цвет посещённой ссылки */
/* } */ 

a:hover {
    color: aliceblue; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
}

.aligncenter {
    text-align: center;
}

.laboratory {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.laboratory div {
    width: 450px;
    /* background-color: rgb(253, 218, 141); */ 
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border:  2px double rosybrown;
}

.foto{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.foto div{
    background-color: white;
    width: 450px;
    height: 550px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.foto>div>img{
    border-radius: 5px;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}