body{
    margin: 0;
    background-color: rgb(42, 75, 230, 0.58);

}

main{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(192, 200, 245);
    padding: 50px;
}

h1, h2{
    text-align: center;
}

div{
    text-align: justify;
}


header{
    background-color: rgb(91, 235, 72);
    /* background-color: rgb(220, 113, 241); */
    /* margin: 0px;  */
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    /* установка флекс */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
    
    background-color: rgb(20, 3, 95);
     
    margin-left: 100px; 
    margin-right: 100px;
    
}


footer{
    background-color: rgb(38, 86, 219);
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: 150px;
    /* установка флекс */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; 
}

.hr1{
    width: 90%;
}

a {
    color: aliceblue; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание */
} 

/* a:visited { 
    color: aliceblue; /* Цвет посещённой ссылки */
/* } */ 

a:hover {
    color: aliceblue; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
}