<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as lang_code %}

<html lang="{{ lang_code|default:'ru_ru' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    
    {% bootstrap_css %}

    {% block extra_head %}
      {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock extra_head %}

    
  </head>
  <body>
    {% block header%}
      <div>
        {% include 'menu.html '%}
      </div>  
    {% endblock header%}
    
    <div align="center">
      {% block content %}
        <h1>Виртуальные лаборатории 2.0</h1>
      {% endblock content %}
    </div>
    
    <div align="center">
      {% block extra_content %}
      {% endblock extra_content %}
    </div>  
    
    <div align="center">
      {% block footer %}
          <footer>
            <div class="hr1">  <hr>  </div>
            <div > 
            <div class="text1"> Copuringht &#9400 Company 2024</div> 
            </div>
          </footer>
      {% endblock footer %}
    </div>
    
    {% bootstrap_javascript %}
  </body>
</html>  