{% extends 'base.html' %}


{% block title %}
  Переливания
{% endblock title %}

{% block extra_head %}
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.2/lib/p5.js"></script>
    <script src="{% static 'js/lab_1.js' %}"></script>
    
{% endblock extra_head %} 
  
  
{% block content %}
  <header>
        <h1>Переливания</h1>
  </header>  
  
  <main> 
    <div>
      <h4>Условие задачи:</h4>
    </div>  
    <div class="div_lab">  
      Текст условия задачи
    </div>
    <br>
    <div><h4>Начальное состояние:</h4></div>
    <div class="div_lab">  
      начальное состояние
    </div>
    <br>
    <div>
      
    </div>
    <br>
    <div><h4>Конечное состояние:</h4></div>
    <div class="div_lab">  
      конечное состояние
    </div>
  </main>   
  
{% endblock content %}

{% block footer %}

{% endblock footer %}