{% extends 'base.html' %}


{% block title %}
  Список лабораторий
{% endblock title %}

{% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
{% block content %}
  <header>
        <h1>Лаборатории</h1>
  </header>  
  
  <main>
    <div class="laboratory">
      {% for lab in laboratories %}
        <div>
          <h2> {{ lab }}</h2>
            <!--<img src="{% static 'img/lab_1.jpg' %}" alt="">-->
            <img src="{% static lab.img %}" alt="">
        </div>
      {% endfor %}
    </div>
    
    {% if user.is_staff %}
      <br>
      <div class="divcenter">
        <a href="{% url 'add_laboratory' %}" class="btn">Добавить лабораторию</a>
      </div>  
    {% endif %}  

  </main>
{% endblock content %}