{% extends 'base.html' %}


{% block title %}
  Вход
{% endblock title %}


{% block header %}
{% endblock header %}


{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    
    <div class="laboratory">
      <div class="aligncenter">
        <h4>Авторизация</h4>
        <br>
        <table class="tb2">
          {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Войти">
      </div>
    </div>
  </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}