{% extends 'base.html' %}

{% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
{% load django_bootstrap5 %}

{% block title %}
  Вход
{% endblock title %}


{% block header %}
{% endblock header %}


{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    
    <div class="laboratory">
      <div class="login">
        <h4>Авторизация</h4>
        <br>
        <!--<table class="tb2">
          {{ form.as_table }}
        </table>-->
        {% bootstrap_field form.username %}
        {% bootstrap_field form.password %}
        <br>
        <input class="btn btn-outline-success" type="submit" value="Войти">
      </div>
    </div>
  </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}