{% extends 'base.html'%}


{% block title %}
  Главная
{% endblock title %}

{% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
{% block content %}
  
  <header>
        <h1>Виртуальные лаборатории 2.0</h1>
  </header>  
  
  <main>       
    <h2>Описание</h2>
    <div>
      Данное приложение разработано в рамках дипломного проекта. Приложение представляет собой интерактивный задачник по информатике для младших школьников и предназначен для использования в курсе информатики, охватывающем начальную ступень общего образования (2-4 классы начальной школы) и пропедевтический уровень основной ступени общего образования (5-6 классы основной школы). Задачник включает в себя 6 виртуальных лабораторий, обеспечивающих возможность как сетевой, так и индивидуальной работы с учащимися по решению задач разного уровня сложности.
    </div>
    <br>
<!--    <div class="aligncenter">
      <img src="{% static 'img/1.png' %}" alt="My image">
    </div> -->
    <br>
    <div class="foto">
      <div>
        <h4> Лаборатория "Взвешивания"</h4>
        <img src="{% static 'img/lab_1.jpg' %}" alt="">
        <p></p>
        <p>Лаборатория предназначена для решения двух типов задач на взвешивание: разработка алгоритма поиска среди однотипных объектов одного, отличающегося по весу от остальных; поиск методом последовательных взвешиваний среди однотипных объектов одного, отличающегося по весу (искомый объект назначается программой случай-ным образом).</p>
      </div>
      <div>
        <h4> Лаборатория "Перекладывания"</h4>
        <img src="{% static 'img/lab_2.jpg' %}" alt="">
        <p></p>
        <p>В этой виртуальной лаборатории решаются задачи на создание последовательности перемещения объектов между контейнерами. Предусмотрены следующие виды: - Перекладывание разноцветных шариков между пробирками - Перекладывание шариков разного размера между пробирками - Перекладывание колец между стержнями. </p> 
      </div>
      <div>
        <h4> Лаборатория "Переливания"</h4>
        <img src="{% static 'img/lab_3.jpg' %}" alt="">
        <p></p>
        <p>Виртуальная лаборатория "Переливания" предназначена для решения задач, основанных на модели переливания (или пересыпания) содержимого между сосудами заданной емкости. При решении задач возможны также "источник" жидкости и "сток" - т.е. сосуды неограниченной емкости, из которых можно наполнять "рабочие" емкости или выливать из них содержимое.</p>
      </div>
      <div>
        <h4> Лаборатория "Переправы"</h4>
        <img src="{% static 'img/lab_4.jpg' %}" alt="">
        <p></p>
        <p> В этой виртуальной лаборатории моделируются ситуации переправы нескольких персонажей на одном пароме в рамках некоторых действующих ограничений. </p>
      </div>
      <div>
        <h4> Лаборатория "Разъезды"</h4>
        <img src="{% static 'img/lab_5.jpg' %}" alt="">
        <p></p>
        <p> 
          В этой лаборатории целью работы является последовательность перевозок, обеспечивающая нужную последовательность на другой стороне.
        </p>          
      </div>
      <div>
        <h4> Лаборатория "Черные ящики"</h4>
        <img src="{% static 'img/lab_6.jpg' %}" alt="">
        <p></p>
        <p>
          Данная лаборатория предназначена для решения задач на определение математических операций, совершаемых над числами. Модель основана на понятии "черный ящик" - устройство, которое имеет несколько входов и один выход и формула работы которого неизвестна. 
        </p>  
      </div>
    </div>
  </main> 

<!--  <footer>
    <div class="hr1">  <hr>  </div>
      <div > 
        <div class="text1"> Copuringht &#9400 Company 2024</div> 
      </div>
  </footer>  -->
  
{% endblock content %}