<nav>
  <div>
    <a href="{% url 'main' %}">Главная  </a>
    <a href="{% url 'laboratories' %}">Лаборатории</a>   
    {% if user.is_staff %}
        <a href="{% url 'administration' %}">Администрирование</a>
    {% endif %} 

  </div>
  <div>
    {% if user.is_authenticated %}    
      {% for group in request.user.groups.all %}
        {% if group.name == 'Администраторы' %}
          Администратор
        {% elif group.name == 'Учителя' %}
          {{ user.id }}
          <a href="{% url 'teacher' %}">Личный кабинет</a>
        {% elif group.name == 'Ученик' %}
          Личный кабинет ученика
        {% endif %}
      {% endfor %}
      
      <a href="{% url 'user_logout' %}">выход</a>
    {% else %}
      <a href="{% url 'user_login' %}">Вход</a>
    {% endif %}

  </div>
</nav>