{% extends 'student.html' %}
    
{% block content %}
  <section class="content">
    <div class="divcenter">
      <h2>Задания</h2>
    </div>
    <div class="divcenter">
      <table width="60%" border="1" cellpadding="4" cellspacing="0">  
        <caption style="font-weight: bold;">Выданные</caption>
        <tr style="font-weight: bold;">
            <td align="center">
              Задача
            </td>
            <td align="center">
              Лаборатория 
            </td>
            <td align="center">
              Дата выдачи
            </td>
        </tr>
      </table>
    </div>
    <div><br></div>
    <div class="divcenter">
      <table width="60%" border="1" cellpadding="4" cellspacing="0">  
        <caption style="font-weight: bold;">На проверке</caption>
        <tr style="font-weight: bold;">
            <td align="center">
              Задача
            </td>
            <td align="center">
              Лаборатория 
            </td>
            <td align="center">
              Дата выдачи
            </td>
            <td align="center">
              Дата выполнения
            </td>
        </tr>
      </table>
    </div>
    <div><br></div>
    <div class="divcenter">
      <table width="60%" border="1" cellpadding="4" cellspacing="0">  
        <caption style="font-weight: bold;">На проверке</caption>
        <tr style="font-weight: bold;">
            <td align="center">
              Задача
            </td>
            <td align="center">
              Лаборатория 
            </td>
            <td align="center">
              Дата выдачи
            </td>
            <td align="center">
              Дата выполнения
            </td>
            <td align="center">
              Оценка
            </td>
        </tr>
      </table>
    </div>
  </section>
{% endblock content %} ﻿