{% extends 'profile.html' %}

{% block title %}
  Кабинет учителя
{% endblock title %}

  
{% block content %}
  <section class="content">
    <div class="divcenter">
      <table border="1" align="center">
         <tr style="font-weight: bold;">
              <td>
                Лаборатория
              </td>
              <td>
                Задача
              </td>
              <td>
                Условие задачи
              </td>
              <td>
                Исходное состояние
              </td>
              <td>
                Конечное состояние
              </td>
          </tr>
          {% for task in tasks %}        
            <tr>
              <td>
                {{ task.laboratory.title }}
              </td>
              <td>
                {{ task.number }}
              </td>
              <td>
                {{ task.description }}
              </td>
              <td>
                {{ task.start_value }}
              </td>
              <td>
                {{ task.end_value }}
              </td>
            </tr>
          {% endfor %}  
        </table>
        <br>
      </div>  
      <div class="divcenter">
        <a href="{% url 'add_task' %}" class="btn">Добавить задачу</a> 
      </div> 
  </section>
{% endblock content %} ﻿